.form {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.form form {
  max-width: 80%;
  border-radius: 20px;
  padding: 36px 64px;
  background-color: #f6f6f6;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
}

.form h2 {
  font-size: 32px;
}
